.App {
  margin:auto;
  width:50%;
}

.instructions {
	background:yellow;
	padding:25px;
}

.content-card {
	padding:20px;
	box-shadow:0 0px 7px #ccc;
	margin-bottom:20px;
}

.field-group label {
	margin-bottom:5px;
	display:block;
}